<h1>Activities: details for <%= @showdate %></h1>
<br><br>
<form method="GET" action="/stat/activityMain">
<%= submit_tag 'Back', :name => 'back', :class => 'btn btn-small' %>
</form>
<%= @authorid %>
<%= @logs %>
<%= @rowne %>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Time</th>
			<th>Link</th>
			<th>Discipline</th>
			<th>Author</th>
			<th>Client</th>
			<th>Enrolled</th>
			<th>Repeat</th>
			<th>Email</th>
			<th>Type</th>
			<th>State</th>
			

		</tr>
	</thead>
  	<tbody>
		<% @activityDetails.each_with_index do |activity, index| %>
		<% stringIndex = index.to_s %>
		<tr>
        
			<td><%= activity[0][1] %></td>
			<td><a href=<%=activity[1][1]%> target="_blank" >Link</a></td>
			<td><%= activity[2][1] %></td>
			<td><%= activity[3][1] %></td>
			<td><%= activity[4][1] %></td>
			<td>
			<%= activity[5][1] %>
			<% if (activity[5][1].to_i>0) %>
				<div class=<%='demo-area-'+index.to_s%> style='float:right'>
  					<button class='btn btn-mini' data-clipboard-target=<%='fe_text_'+stringIndex %> data-clipboard-text='Default clipboard text from attribute' id=<%='d_clip_button_'+stringIndex %> title='Click me to copy to clipboard.'>
    						<b>Copy @'s</b>
  					</button> 
  					<textarea style='display:none!important;' id=<%='fe_text_'+stringIndex %> ><%= activity[11][1] %></textarea>
				</div>
				<script>
				  $(document).ready(function() {
				    var clip = new ZeroClipboard($("#<%='d_clip_button_'+stringIndex %>"))
				  });

				  
  </script>
			<% end %>
			</td>
			<td><%= activity[6][1] %></td>
			<td><%= truncate(activity[7][1], :length => 30) %></td>
			<td><%= activity[8][1] %></td>
			<td><%= activity[10][1] %></td>
			

	  
	      </tr>
		<% end %>
 	</tbody>
</table>

