<h2>Activities</h2>


<form class="form-inline" method="GET" action="/stat/activityMain">
<label for="last">Last: </label>
<%= number_field_tag 'numberOfDays', @nod, in: 1...366 %>
<label for="days" > days</label>
<%= submit_tag 'Show', :name => 'last', :class => 'btn btn-default' %>
</form>

<hr />
<%= @log %>
<h2>Results</h2>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Data</th>
      <th>All</th>
      <th>Web</th>
      <th>Android</th>
      <th>iOS</th>
      <th>Unknown</th>
      <th>Action</th>
      <th>Ajax test</th>
    </tr>
  </thead>
  <tbody>
  <% @activities.each_with_index do |activity, index|  %>
      <% activity_date = truncate((activity[:date]).to_s , :length => 10, :omission => '') %>
      <tr>
        <td><%= activity_date %></td>
        <td><%= activity[:all] %></td>
        <td><%= activity[:web] %></td>
        <td><%= activity[:android] %></td>
        <td><%= activity[:ios] %></td>
        <td><%= activity[:unknown] %></td>
        <td>
          <%= form_tag("/stat/activityDetails", method: "get") do %>
              <%= hidden_field_tag(:date, activity_date ) %>
              <%= submit_tag("Details", {:name => "", :class => 'btn btn-mini'}) %>
          <% end %>
        </td>
        <td class="comment_<%=index%>">
          <%
             c = activity[:comment].to_s
             comment_visible = c!=""
          %>
          <span class='add-button-span' style="<%= comment_visible ? 'display: none' : ''%>">
            <button class='btn btn-mini' com_add="true" remote="true" index="<%=index%>" date="<%=activity_date%>">Add</button>
            <div class="modal fade" id="myAddModal_<%=index%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">

                    <h4 class="modal-title"></h4>
                  </div>
                  <div class="modal-body">
                    <textarea class="field span5" id="textarea" rows="6"></textarea>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" com_add_save="true" index="<%=index%>" date="<%=activity_date%>" com="<%= c %>">Save changes</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
          </span>

          <span class='manage-comment-span' style="<%= !comment_visible ? 'display: none' : ''%>">
              <div class="comment" style="display: none"><%= c %></div>
              <button class='btn btn-mini' com_show="true" remote="true" val="<%=index%>" ">Show</button>
              <button style="display: none" class='btn btn-mini' com_edit="true" remote="true" index="<%=index%>" date="<%=activity_date%>" com="<%= c %>">Edit</button>
              <button style="display: none" class='btn btn-mini' com_del="true" remote="true" index="<%=index%>" date="<%=activity_date%>">Del</button>

              <div class="modal fade" id="myModal_<%=index%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">

                      <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                      <textarea class="field span5" id="textarea" rows="6"></textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" com_edit_save="true" index="<%=index%>" date="<%=activity_date%>" com="<%= c %>">Save changes</button>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
          </span>

        </td>

      </tr>
  <% end %>
  </tbody>
</table>


