<h2>Activities</h2>


<form class="form-inline" method="GET" action="/stat/activityMain">
<label for="last">Last: </label>
<%= number_field_tag 'numberOfDays', 7, in: 1...366 %>
<label for="days" > days</label>
<%= submit_tag 'Show', :name => 'last', :class => 'btn btn-default' %>
</form>
<%= @lol %>
<p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

<h2>Results</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Data</th>
      <th>All</th>
      <th>Web</th>
      <th>Android</th>
	<th>iOS</th>
	<th>Unknown</th>
	<th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% for activity in @activities %>
      <% activity_date = truncate((activity["_id"]["data"]).to_s , :length => 10, :omission => '') %>
      <tr>
        <td><%= activity_date %></td>
	  <td><%= activity["value"]["all"] %></td>
	  <td><%= activity["value"]["web"] %></td>
	  <td><%= activity["value"]["Android"] %></td>
	  <td><%= activity["value"]["ios"] %></td>
	  <td><%= activity["value"]["unknown"] %></td>
	  <td>
		<%= form_tag("/stat/activityDetails", method: "get") do %>
		<%= hidden_field_tag(:date, activity_date ) %>
		<%= submit_tag("Details", {:name => "", :class => 'btn btn-mini'}) %>
		<% end %>
	  </td>

      </tr>
    <% end %>
  </tbody>
</table>



