<h2>Activities: details for <%= @showdate %></h2>
<br><br>
<form class="form-inline" method="GET" action="/stat/activityMain">
<%= submit_tag 'Back', :name => 'back', :class => 'btn btn-small' %>
</form>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Time</th>
			<th>Link</th>
			<th>Discipline</th>
			<th>Author</th>
			<th>Client</th>
			<th>Enrolled</th>
			<th>Repeat</th>
			<th>Email</th>
			<th>Type</th>
			<th>State</th>
			

		</tr>
	</thead>
  	<tbody>
		<% @activityDetails.each_with_index do |activity, index| %>
		<% stringIndex = index.to_s %>
		<tr>
        
			<td><%= activity[:time] %></td>
			<td><a href=<%=activity[:link]%> target="_blank" >Link</a></td>
			<td><%= activity[:discipline] %></td>
			<td><%= activity[:author_info] %></td>
			<td><%= activity[:client] %></td>
			<td>
			<%= activity[:enrolled] %>
			<% if (activity[:enrolled].to_i>0) %>
				<div class=<%='demo-area-'+index.to_s%> style='float:right'>
  					<button class='btn btn-mini' data-clipboard-target=<%='fe_text_'+stringIndex %> data-clipboard-text='Default clipboard text from attribute' id=<%='d_clip_button_'+stringIndex %> title='Adresy e-mail skopiowane do schowka.' copy-to-clip="true">
    						<b>Copy @'s</b>
  					</button> 
  					<textarea style='display:none!important;' id=<%='fe_text_'+stringIndex %> ><%= activity[:enrolledemails] %></textarea>
				</div>

			<% end %>
			</td>
			<td><%= activity[:repeat] %></td>
			<td><%= truncate(activity[:email], :length => 30) %></td>
			<td><%= activity[:type] %></td>
			<td><%= activity[:state] %></td>
			

	  
	      </tr>
		<% end %>
 	</tbody>
</table>
<%= javascript_include_tag "copyenrmails" %>
