<h1>Details for <%= @showdate %></h1>
<br><br>
<form method="GET" action="/stat/panel">
<%= submit_tag 'Back', :name => 'back', :class => 'btn btn-small' %>
</form>
<%= @loga %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Time</th>
	<th>Link</th>
	<th>Discipline</th>
	<th>Author</th>
	<th>Client</th>
	<th>Enrolled</th>
	<th>Repeat</th>
	
    </tr>
  </thead>
  <tbody>
    <% for activity in @details %>
     
      <tr>
        
	  <td><%= (activity.created_at.to_s)[11,8] %></td>
	  <td><% link = "https://my.dropsport.com/activities/"+activity._id+"" %><a href=<%=link%>>Link</a></td>
	  <td><%= activity.discipline %></td>
	  <td><%= activity.author_info["name"] %></td>
	  <td><%= activity.client %></td>
	  <td><%= activity.enrolled_users.size %></td>
	  <td><% if activity.repeat==nil  %>	<%= false %>
		<% else %>	<%= true %>	<% end %>
	  </td>
	  

      </tr>
    <% end %>
  </tbody>
</table>


