<h2>Event log</h2>
<br>
<table class="table table-condensed" >
  <tr>
    <td>
        <form class="form-inline" method="GET" action="/stat/eventlogMain">
            <label for="last" >Users created at last: </label>
            <%= number_field_tag 'numberOfDays', @last, in: 1...366, :class => 'form-control'%>
            <label for="days" > days</label>
    </td>
    <td>
            <%= submit_tag 'Find users', :name => 'last', :class => 'btn btn-small btn-primary' %>
        </form>
    </td>
  </tr>
  <tr>
    <td>
        <form class="form-inline" method="GET" action="/stat/eventlogMainRange">
          <label for="from" >Events between: </label>
          <div class="input-append date" id="dateFrom" data-date-format="dd-mm-yyyy">
            <input class="span2" name="dateFrom" size="16" value="<%= @adf %>" type="text" readonly><span class="add-on"><i class="icon-th"></i></span>
          </div>
          <script type="text/javascript">
            $('#dateFrom').datepicker();
          </script>

          <label for="from" > and: </label>
          <div class="input-append date" id="dateTo" data-date-format="dd-mm-yyyy">
            <input class="span2" size="16" name="dateTo" value="<%= @adt %>" type="text" readonly><span class="add-on"><i class="icon-th"></i></span>
          </div>
          <script type="text/javascript">
              $('#dateTo').datepicker();
          </script>
    </td>
    <td>
          <%= submit_tag 'Find events', :name => 'getDate', :class => 'btn btn-small'%>
        </form>
    </td>
  </tr>
  <tr>
    <td>
        <form class="form-inline" method="GET" action="/stat/eventlogMainXday">
          <label for="from" >Events between: <b>User creation date</b>, and: </label>
          <%= number_field_tag 'numberOfXDays', @xdays, in: 1...366, :class => 'form-control'%>
          <label for="from" > days after the creation of user </label>
    </td>
    <td>
          <%= submit_tag 'Find events', :name => 'getXDate', :class => 'btn btn-small'%>
        </form>
    </td>
  </tr>
  <tr>
    <td>
      <form class="form-inline" method="GET" action="/stat/eventlogMainXYdays">
        <label>Events between: </label>
        <%= number_field_tag 'startAfterX', @startAfterX, in: 1...366, :class => 'form-control'%>
        <label for="from" > days after the creation of user, and: </label>
        <%= number_field_tag 'startAfterY', @startAfterY, in: 1...366, :class => 'form-control'%>
        <label for="from" > days forward </label>
    </td>
    <td>
      <%= submit_tag 'Find events', :name => 'xDaysAfterY', :class => 'btn btn-small'%>
      </form>
    </td>
  </tr>
</table>
<div style="clear:both"></div>
<hr />
<h2>Events <%= @datesRange %></h2>
<br>
<table class="table table-bordered">
  <thead>

  <tr>
      <td colspan="4" style="border-right:solid; border-left:solid;"><center><b>User</b></center></td>
      <td colspan="3" style="border-right:solid;"><center><b>Actions</b></center></td>
      <td colspan="5" style="border-right:solid;"><center><b>Clients</b></center></td>
      <td colspan="2" style="border-right:solid;"><center><b>Bookmarks</b></center></td>
      <td colspan="1" style="border-right:solid;"><center><b>Comments</b></center></td>
    </tr>

    <tr>
      <td style="border-left:solid;">Date</td>
      <td>Count</td>
      <td>Active</td>
      <td style="border-right:solid;">Percent</td>

      <td>Commented</td>
      <td>Enrolled</td>
      <td style="border-right:solid;">Liked</td>

      <td>Sum</td>
      <td>Web</td>
      <td>Android</td>
      <td>iOS</td>
      <td style="border-right:solid;">Unknown</td>

      <td>Sum</td>
      <td style="border-right:solid;">Active usrs</td>

      <td style="border-right:solid;"></td>

    </tr>
  </thead>
  <tbody>
    <% @usrsByDate.each_with_index do |ubd, index| %>
      <% ubdDate =  ubd[:date] %>
        <tr>
            <td style="border-left:solid;"><%= ubd[:date] %></td>
            <td><%= ubd[:count] %></td>
            <td><%= ubd[:activeUsrs] %></td>
            <td style="border-right:solid;"><%= ubd[:percentActiveUsrs] %></td>

            <td><%= ubd[:commented] %></td>
            <td><%= ubd[:enrolled] %></td>
            <td style="border-right:solid;"><%= ubd[:liked] %></td>

            <td><%= ubd[:eventSum] %></td>
            <td><%= ubd[:webEvent] %></td>
            <td><%= ubd[:androidEvent] %></td>
            <td><%= ubd[:iosEvent] %></td>
            <td style="border-right:solid;"><%= ubd[:unknownEvent] %></td>

            <td><%= ubd[:bookmarkSum] %></td>
            <td style="border-right:solid;"><%= ubd[:activeBook] %></td>

          <td class="comment_<%=index%>" style="border-right:solid;">
            <%
               c = ubd[:comment].to_s
               comment_visible = c!=""
            %>
            <span class='add-button-span' style="<%= comment_visible ? 'display: none' : ''%>">
            <button class='btn btn-mini' com_add="true" remote="true" index="<%=index%>" date="<%=ubdDate%>">Add</button>

            <div class="modal fade" id="myAddModal_<%=index%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">

                    <h4 class="modal-title"></h4>
                  </div>
                  <div class="modal-body">
                    <textarea class="field span5" id="textarea" rows="6"></textarea>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" com_add_save="true" index="<%=index%>" date="<%=ubdDate%>" com="<%= c %>">Save changes</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
          </span>

          <span class='manage-comment-span' style="<%= !comment_visible ? 'display: none' : ''%>">
              <div class="comment" style="display: none"><%= c %></div>
              <button class='btn btn-mini' com_show="true" remote="true" val="<%=index%>" ">Show</button>
            <button style="display: none" class='btn btn-mini' com_edit="true" remote="true" index="<%=index%>" date="<%=ubdDate%>" com="<%= c %>">Edit</button>
              <button style="display: none" class='btn btn-mini' com_del="true" remote="true" index="<%=index%>" date="<%=ubdDate%>">Del</button>

              <div class="modal fade" id="myModal_<%=index%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">

                      <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                      <textarea class="field span5" id="textarea" rows="6"></textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" com_edit_save="true" index="<%=index%>" date="<%=ubdDate%>" com="<%= c %>">Save changes</button>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
          </span>

          </td>

        </tr>
    <% end %>
  </tbody>
</table>
