<h2>Event log</h2>
<br>

<form class="form-inline" method="GET" action="/stat/eventlogMain">
	<label for="last" >Users created at last: </label>
	<%= number_field_tag 'numberOfDays', @last, in: 1...366, :class => 'form-control'%>
	<label for="days" > days</label>
	<%= submit_tag 'Show', :name => 'last', :class => 'btn btn-small' %>
</form>
<br><br>

<form class="form-inline" method="GET" action="/stat/eventlogMainRange">
<table class="table table-hover" style="width: 220px; float:left; margin:0px 50px 0px 50px;">

    <tr><td><p>From: </p></td></tr>
	<tr><td>
            <div class="input-append date" id="dateFrom" data-date-format="dd-mm-yyyy">
                <input class="span2" name="dateFrom" size="16" value="<%= @adf %>" type="text" readonly><span class="add-on"><i class="icon-th"></i></span>
            </div>
            <script type="text/javascript">
              $('#dateFrom').datepicker();
            </script>
    </td></tr>
    <tr><td><p>To: </p></td></tr>
	<tr><td>
            <div class="input-append date" id="dateTo" data-date-format="dd-mm-yyyy">
                <input class="span2" size="16" name="dateTo" value="<%= @adt %>" type="text" readonly><span class="add-on"><i class="icon-th"></i></span>
            </div>
            <script type="text/javascript">
              $('#dateTo').datepicker();
            </script>
    </td></tr>
    <tr><td><%= submit_tag 'Find events', :name => 'getDate', :class => 'btn btn-small'%></td></tr>
</table>
</form>
<form class="form-inline" method="GET" action="/stat/eventlogMainXday">
<table class="table table-hover" style="width: 220px; margin:0px 50px 0px 50px;">
  <tr><td><%= number_field_tag 'numberOfXDays', @xdays, in: 1...366, :class => 'form-control'%></td></tr>
  <tr><td>days after created user</td></tr>
  <tr><td><%= submit_tag 'Find events', :name => 'getXDate', :class => 'btn btn-small'%></td></tr>
</table>
</form>
<div style="clear:both"></div>
<p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
<%= @log %>
<h2>Events: <%= @datesRange %></h2>
<br>
<table class="table table-striped">
  <thead>
    <tr>
	  <th><center>Users:</center></th>
      <th>Created at</th>
      <th>All</th>
	  <th>Active</th>
	  <th>All / Act</th>

	  <th><center>Events:</center></th>
      <th>Sum</th>
	  <th>W</th>
	  <th>A</th>
	  <th>I</th>
	  <th>U</th>


	</tr>
  </thead>
  <tbody>
    <% for ubd in @usrsByDate %>

      <tr>
		  <td><center>|</center></td>
		  <td><%= ubd[:date] %></td>
		  <td><%= ubd[:count] %></td>
		  <td><%= ubd[:activeUsrs] %></td>
		  <td><%= ubd[:percentActiveUsrs] %></td>
		  <td><center>|</cemter></td>
		  <td><%= ubd[:eventSum] %></td>
		  <td><%= ubd[:webEvent] %></td>
		  <td><%= ubd[:androidEvent] %></td>
		  <td><%= ubd[:iosEvent] %></td>
		  <td><%= ubd[:unknownEvent] %></td>

      </tr>
    <% end %>
  </tbody>
</table>
