<h1>Event log</h1>

<form class="form-inline" method="GET" action="/stat/eventlogMain">
	<label for="last" >Last: </label>
	<%= number_field_tag 'numberOfDays', @last, in: 1...366, :class => 'form-control'%>
	<label for="days" > days</label>
	<%= submit_tag 'Show', :name => 'last', :class => 'btn btn-small' %>
</form>
<br><br>

<form class="form-inline" method="GET" action="/stat/eventlogMain">
<table class="table table-bordered">
	<thread>
		<tr>
			<th><label for="od" >From: </label></th>
			<th><label for="od" >To: </label></th>
		</tr>
	</thread>
	<tbody>
		<tr>
			<td>
				<div class="input-append date" id="dateFrom" data-date-format="dd-mm-yyyy">
					<input class="span2" name="dateFrom" size="16" value="<%= @dateFrom %>" type="text" readonly><span class="add-on"><i class="icon-th"></i></span>
				</div>
				<script type="text/javascript">
				  $('#dateFrom').datepicker();
				</script>
			</td>
			<td>
				<div class="input-append date" id="dateTo" data-date-format="dd-mm-yyyy">
					<input class="span2" size="16" name="dateTo" value="<%= @dateTo %>" type="text" readonly><span class="add-on"><i class="icon-th"></i></span>
				</div>
				<script type="text/javascript">
				  $('#dateTo').datepicker();
				</script>
			</td>
		</tr>
	</tbody>
</table>
<%= submit_tag 'Find events', :name => 'getDate', :class => 'btn btn-small' %>
</form>

<p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
<%= @log %>
<h1>Results</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Users created at</th>
      <th>Count users</th>
      <th><center><%= @datesRange %></center></th>
	  <th>User's events</th>
	  <th>Active users</th>
	</tr>
  </thead>
  <tbody>
    <% for ubd in @usrsByDate %>

      <tr>
		  <td><%= ubd[:date] %></td>
		  <td><%= ubd[:count] %></td>
		  <td><center>|</center></td>
		  <td><%= ubd[:eventSum] %></td>
		  <td><%= ubd[:activeUsrs] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
