<h2>Users</h2>

<form class="form-inline" method="GET" action="/stat/usrsMain">
    <label for="find">Name: </label>
    <%= text_field_tag 'name' %>
    <%= submit_tag 'Find', :name => 'find', :class => 'btn btn-default' %>
</form>

<hr />

<h2>Results</h2>
<% if @showByDate %>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Users</th>
                <th>Fanpages</th>
                <th>All</th>
                <th>Action</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            <% @usrs.each_with_index do |usr, index|  %>

                <% usr_date = truncate((usr[:date]).to_s , :length => 10, :omission => '') %>
                <tr>
                    <td><%= usr_date %></td>
                    <td><%= usr[:user] %></td>
                    <td><%= usr[:fanpage] %></td>
                    <td><%= usr[:all] %></td>
                    <td>
                    <%= form_tag("/stat/usrsDetails", method: "get") do %>
                        <%= hidden_field_tag(:date, usr_date ) %>
                        <%= submit_tag("Details", {:name => "", :class => 'btn btn-mini'}) %>
                    <% end %>
                    </td>
                  <td class="comment_<%=index%>">
                    <%
                       c = usr[:comment].to_s
                       comment_visible = c!=""
                    %>
                    <span class='add-button-span' style="<%= comment_visible ? 'display: none' : ''%>">
            <button class='btn btn-mini' com_add="true" remote="true" index="<%=index%>" date="<%=usr_date%>">Add</button>
            <div class="modal fade" id="myAddModal_<%=index%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">

                    <h4 class="modal-title"></h4>
                  </div>
                  <div class="modal-body">
                    <textarea class="field span5" id="textarea" rows="6"></textarea>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" com_add_save="true" index="<%=index%>" date="<%=usr_date%>" com="<%= c %>">Save changes</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
          </span>

          <span class='manage-comment-span' style="<%= !comment_visible ? 'display: none' : ''%>">
              <div class="comment" style="display: none"><%= c %></div>
              <button class='btn btn-mini' com_show="true" remote="true" val="<%=index%>" ">Show</button>
            <button style="display: none" class='btn btn-mini' com_edit="true" remote="true" index="<%=index%>" date="<%=usr_date%>" com="<%= c %>">Edit</button>
              <button style="display: none" class='btn btn-mini' com_del="true" remote="true" index="<%=index%>" date="<%=usr_date%>">Del</button>

              <div class="modal fade" id="myModal_<%=index%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">

                      <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                      <textarea class="field span5" id="textarea" rows="6"></textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" com_edit_save="true" index="<%=index%>" date="<%=usr_date%>" com="<%= c %>">Save changes</button>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
          </span>

                  </td>

                </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Created at</th>
                <th>Link</th>
                <th>Email</th>
                <th>Type</th>
                <th>Fanpages / Admins</th>
                <th>Clients</th>

            </tr>
        </thead>
        <tbody>
            <% for usr in @usrs %>
                <tr>
                    <td><%= usr[:name] %></td>
                    <td><%= (usr[:date].to_s)[0,10] %></td>
                    <td><a href=<%=usr[:link]%> target="_blank">Link</a></td>
                    <td><%= truncate(usr[:email], :length => 35) %></td>
                    <td><%= usr[:type] %></td>
                    <td>
                    <% usr[:fanadmins].each do |admin| %>
                        <a href=<%= admin.link %> target="_blank"><%= admin.name %></a>
                        <br>
                    <% end %>
                    </td>
                    <td>
                    <% usr[:cla].each do |key| %>
                        <%= key[0] %>
                        <br>
                    <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

<% end %>

